# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# React specific
.eslintcache
.eslintrc.js
.prettierrc
.prettierignore
.cache/
.temp/
.tmp/
*.log

*.json

# Optional: Storybook
storybook-static/

# Optional: Cypress
cypress/videos/
cypress/screenshots/

# Optional: Jest
/jest_parallel/
